@page "/profile"
@inject HttpClient Http

<PageTitle>Profile</PageTitle>

<h1>Profile</h1>

@if (personResponse == null)
{
    <p>Loading...</p>
}
else
{
    <MudTable Items="@personResponseList" Striped="true" Hover="true">
        <HeaderContent>
            <MudTh>WCA Id</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Country</MudTh>
            <MudTh>Competitions Count</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTr>
                <MudTd>@personResponse.Person.PersonId</MudTd>
                <MudTd>@personResponse.Person.Name</MudTd>
                <MudTd>
                    <div style="display: flex; align-items: center;">
                        <img src="@GetFlagUrl(personResponse.Person.CountryIso2)" alt="@personResponse.Person.CountryIso2" style="width: 20px; height: 15px; margin-right: 5px;" />
                        @personResponse.Person.CountryInfo.Name
                    </div>
                </MudTd>
                <MudTd>@personResponse.CompetitionCount</MudTd>
            </MudTr>
        </RowTemplate>
    </MudTable>
}